<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Video App</title>

  <style media="screen">
    * {
      margin: 0;
    }

    html {
      background: black;
      font-family: Ubuntu, sans-serif;
    }

    #videoDiv {
      display: grid;
      /* grid-gap: 10px; */
      height: 20vh;
      top: 0;
      left: 0;
      /* position: relative; */
      grid-template-columns: repeat(auto-fill, 20vh);
      grid-auto-rows: 20vh;
      background: #101010;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #hostDiv {
      width: 80vw;
      height: 80vh;
      background: black;
      align-items: center;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }


    #sliderDiv {
      position: absolute;
      top: 77vh;
      padding: 0 1vw 0 1vw;
      color: white;
      display: flex;
      justify-content: space-between;
      width: 78vw;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #chatParent {
      width: 20vw;
      height: 100vh;
      background: #050505;
      color: white;
      font-size: 30px;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #chatDiv {
      margin: 20px;
      margin-top: 5px;
      overflow-x: hidden;
      height: 66.5vh;
    }

    .hidden-x {
      transform: translateX(20vw);
      visibility: hidden;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    .hidden-y {
      transform: translateY(20vh) scaleX(1.51);
      visibility: hidden;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #hostDiv.big-host {
      width: 100vw;
      height: 100vh;
      /* transform: scale(1.5); */
      transform-origin: 0 0;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #controllerDiv {
      position: absolute;
      width: 80vw;
      height: 80vh;
      opacity: 0;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
      cursor: none;
    }

    #controllerDiv.big-host {
      width: 100vw !important;
      height: 100vh !important;
    }


    #controllerDiv.active {
      opacity: 100%;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
      cursor: pointer !important;
    }

    #controlDiv {
      color: white;
      position: absolute;
      width: 80vw;
      top: 0;
      height: 80vh;
      display: flex;
      font-size: 80px;
      justify-content: center;
      text-align: center;
      align-items: center;
      background: linear-gradient(rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.2) 100%);
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
      text-shadow: rgba(0,0,0,0.6) 2px 2px;
    }


    #controlDiv::after {
      content: '⏸';
    }

    #controlDiv.paused::after {
      content: '▶';
    }

    #controlDiv.big-host {
      width: 100vw !important;
      height: 100vh !important;
      background: linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.2) 100%);
    }


    #sliderDiv.big-host {
      top: 96vh;
      width: 98vw;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    button {
      height: 32px;
      padding-right: 15px;
      padding-left: 15px;
      /* width: 80px; */
      margin-top: 10px;
      text-align: center;
      border-radius: 10px;
      font-size: 18px;
      outline: none;
      border: none;
      text-decoration: none;
      background-color: #141414;
      color: white;
      cursor: pointer;
    }

    .simplebar-scrollbar::before {
      background-color: #333 !important;
    }

    *:focus {
      outline: none;
    }


    #videoDiv video {
      width: 20vh;
      height: 20vh;
      object-fit: cover;
    }

    #hostDiv video {
      width: 80vw;
      height: 80vh;
      object-fit: contain;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #hostDiv.big-host video {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    }

    #toggleBtn.change::after {
      content: '🐵';
    }

    #toggleBtn::after {
      content: '🙈';
    }

    #cameraBtn.changex::after {
      content: '';
    }

    #cameraBtn::after {
      /* content: '📸'; */
      content: '🥢';
      position: absolute;
      margin-left: -30px;
    }

    #micBtn::after {
      content: '🥢';
      position: absolute;
      margin-left: -30px;
    }

    #micBtn.changex::after {
      content: '';
      /* position: absolute; */
    }

    .changex {
      background: #555 !important;
    }

    .dropdown {
      width: 14vw;
      position: relative;
      /* margin-bottom: 10px; */
    }

    .dropdown__options--visible .dropdown__skeleton {
      box-shadow: 0 11px 12px -5px #000;
    }

    .dropdown__options--visible .dropdown__options {
      animation: showit 0.25s forwards ease-out;
    }

    .dropdown__options--visible .dropdown__arrow {
      transform: rotate(-180deg);
      right: 26px;
    }

    .dropdown__skeleton {
      /* border: 2px solid #333; */
      height: 35px;
      background-color: #141414;
      border-radius: 15px;
      padding: 10px 15px;
      position: relative;
      transition: box-shadow 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      cursor: pointer;
      user-select: none;
    }

    .dropdown__skeleton label {
      font-weight: 700;
      text-transform: uppercase;
      color: #9297ab;
      font-size: 0.8rem;
      letter-spacing: 0.64px;
      display: block;
      cursor: pointer;
    }

    .dropdown__option {
      display: flex;
      align-items: center;
    }

    .dropdown__option {
      /* margin-left: 10px; */
      font-weight: 500;
      color: #6996ff;
      font-size: 1.1rem;
    }

    .dropdown__arrow {
      position: absolute;
      top: 50%;
      right: 20px;
      width: 30px;
      height: 30px;
      transition: all 0.2s ease-in-out;
      transform-origin: top;
    }

    .dropdown__arrow::before,
    .dropdown__arrow::after {
      --angle: 45deg;
      content: '';
      width: 10px;
      background-color: #6996ff;
      display: block;
      padding: 2px;
      border-radius: 2px;
      position: absolute;
    }

    .dropdown__arrow::before {
      transform: rotate(var(--angle));
    }

    .dropdown__arrow::after {
      transform: rotate(calc(var(--angle) * -1));
      margin-left: 9px;
    }

    .dropdown__options {
      position: absolute;
      top: 90%;
      right: 13px;
      /* border: 2px solid #dbe0f5; */
      border-radius: 15px;
      padding: 20px 10px;
      background-color: #090909;
      width: 280px;
      transform: scale(0);
      z-index: 1;
    }

    @keyframes showit {
      0% {
        transform: scale(0);
      }

      70% {
        transform: scale(1.05);
      }

      80% {
        transform: scale(0.95);
      }

      100% {
        transform: scale(1);
      }
    }

    .hidden {
      display: none !important;
    }

    .dropdown__options .dropdown__option {
      padding: 10px 10px;
      transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
      cursor: pointer;
      font-weight: 700;
      opacity: 0.7;
      border-radius: 5px;
    }

    .dropdown__options .dropdown__option:not(:last-child) {
      margin-bottom: 2px;
    }

    .dropdown__options .dropdown__option:hover {
      background-color: #000000;
      opacity: 1;
    }

    .dropdown__options .dropdown__option--selected {
      opacity: 1;
    }

    .dropdown__options::before {
      content: '';
      position: absolute;
      bottom: calc(100% - 3px);
      right: 20px;
      height: 10px;
      width: 10px;
      background-color: #090909;
      transform: rotate(45deg);
    }

    /* *,
    *::after,
    *::before {
      box-sizing: border-box;
    } */
  </style>
  <script type="text/javascript">
    var roomID = "<%= RoomId %>"
  </script>
  <script src="socket.io/socket.io.js" defer></script>
  <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
  <script src="index.js" charset="utf-8" defer></script>
  <script src="modules/mediasoupclient.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
  <script src="RoomClient.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
</head>

<body>
  <div style="flex-direction:row;display:flex;max-width: 100vw;max-height: 100vh;overflow: hidden;">
    <button id="toggleBtn" onclick="toggleFullScreen()"
      style="position: absolute;top: 1vh;right: 1vh;width: 50px;height: 50px;background: #141414;font-size: 25px;padding: 0;z-index: 3;">
    </button>
    <div style="flex-direction: column;display: flex;">
      <div id="hostDiv"> </div>
      <div id="videoDiv"> </div>
      <div id="controllerDiv">
        <div id="controlDiv" onclick="controlDiv.classList.contains('paused')?socket.emit('play'):socket.emit('pause')"></div>
        <div id="sliderDiv">
          <div id="currTime">0:00</div>
          <input type="range" min="1" max="100" value="0" id="timeSelect"
            onchange="{socket.emit('seekTo', timeSelect.value);}"
            oninput="{currTime.innerHTML = secondsToTime(timeSelect.value)}"
            style="width: 88%;position: absolute;align-self: center;left:6%;">
          <div id="durationTime">1:45:46</div>
        </div>
      </div>
      <div id="audioDiv"></div>

    </div>
    <div id="chatParent">

      <div style="margin: 20px;font-weight: bold;font-size: 35px;">WatchParty</div>
      <div style="margin-top: -10px;margin-left: 25px;font-size: 20px;">Party Link</div>
      <div
        style="background: #151515;margin:10px;padding:10px;padding-left:20px;margin-left:20px;margin-right:25px;font-size:20px;border-radius:15px;">
        <a href="#" id="meetLink"
          style="color: #aaa;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;display: inline-block;"></a>
      </div>
      <div style="margin-left: 25px;">
        <button style="background: blue;" onclick="copyTextToClipboard(window.location.href)">Copy Link</button>
        <button onclick="window.open(window.location.href, '_blank')">Open Link</button>
      </div>
      <br />
      <div style="display:flex;justify-content:space-between;align-items: center;margin: 0px 25px 10px 25px;">
        <button id="micBtn" onclick="{
          let el = document.getElementById('micBtn') 
          el.classList.toggle('changex');
          el.classList.contains('changex') 
            ? rc.produce(RoomClient.mediaType.audio, audioDevice) 
            : rc.closeProducer(RoomClient.mediaType.audio)
        }" style="margin: 0;width: 55px;height: 55px;background: #141414;font-size: 25px;padding: 0;">🎙️
        </button>
        <div class="dropdown">
          <div class="dropdown__skeleton">
            <label>Audio</label>
            <div class="dropdown__selected dropdown__option"
              style="position:absolute;bottom: 15%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width: 80%;display: inline-block;font-size: 18px;">
              Default</div>
            <div class="dropdown__arrow"></div>
          </div>
          <div class="dropdown__options" id='audioSelect'>
          </div>
        </div>
      </div>

      <div style="display:flex;justify-content:space-between;align-items: center;margin: 0px 25px 10px 25px;">
        <button id="cameraBtn" onclick="{
          let el = document.getElementById('cameraBtn') 
          el.classList.toggle('changex');
          el.classList.contains('changex') 
            ? rc.produce(RoomClient.mediaType.video, videoDevice) 
            : rc.closeProducer(RoomClient.mediaType.video)
        }" style="margin: 0;width: 55px;height: 55px;background: #141414;font-size: 25px;padding: 0;">📷
        </button>
        <div class="dropdown">
          <div class="dropdown__skeleton">
            <label>Video</label>
            <div class="dropdown__selected dropdown__option"
              style="position:absolute;bottom: 15%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width: 80%;display: inline-block;font-size: 18px;">
              Default</div>
            <div class="dropdown__arrow"></div>
          </div>
          <div class="dropdown__options" id='videoSelect'>
          </div>
        </div>
      </div>


      <div style="margin: 20px;margin-bottom: 0;">Live Chat</div>
      <div id="chatDiv" data-simplebar>
        <!-- chat message -->

        <div id="chatMsg" style="margin: 5px; display:flex;position: relative;">
          <!-- photo/emoji -->
          <div
            style="background: #333;height: 60px;width: 60px;z-index: 2;position: absolute; margin-top: 20.5px;border-radius: 50%;">
          </div>
          <div
            style="background: #141414;min-height: 80px;max-height:200px;overflow-y:auto;overflow-x:none;width: 300px;z-index: 1;margin: 10px;margin-left: 50px;border-radius: 10px;">
            <div id="sName"
              style="color:#6996ff;font-size: 18px;margin: 15px;margin-left: 20px;margin-bottom:0;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;width: 200px;display: inline-block;">
              Sender Name</div>
            <p id="sMsg" style="color:white;font-size: 18px;margin: 10px;margin-left: 20px;margin-top:0px;margin-bottom: 18px;">
              Messages
            </p>
          </div>
        </div>
      </div>
      <div style="position: absolute;bottom: 3px;display: flex;width:20vw;justify-content: center;">
        <input id="newChat"
          style="color:white;width: 80%; height: 40px;background-color: #141414;border: none;padding: 5px;padding-left: 20px;padding-right: 20px; font-size: 18px;border-radius: 15px;margin: 10px;"
          placeholder="Type a message"   value="" />
      </div>
    </div>
  </div>
  <div id="modal"
    style="width: 100vw;height: 100vh;position: absolute;background: rgba(0, 0, 0, 0.7);top:0;display: flex;justify-content: center;align-items: center;">
    <div
      style="width: 25%;height: 30%;background: #141414;border-radius: 20px;color:white;display: flex;flex-direction: column;justify-content: center; align-items: center;">
      <div style="font-weight: 700;font-size: 35px;">WatchParty</div>
      <div style="font-weight: 100;font-size: 30px;">Join Room</div>
      <div style="position: relative;margin-top:10px;">
        <div
          style="width: 300px; background: black;color: white;height: 30px;font-size: 18px;border: none;border-radius: 10px;padding:5px;padding-left: 20px;padding-right: 20px;text-align: center;"
          value="Host"></div>
        <div style="position: absolute;top: 10px;left:10px;font-size: 18px;color: #777;">Name :</div>
        <input id="nameInp"
          style="position: absolute;top:4px;left:73px;width: 250px;background: transparent;color: white;height: 30px;font-size: 18px;border: none;text-align: center;"
          value="" />
      </div>

      <div style="position: relative;margin-top:10px;">
        <div
          style="width: 300px; background: black;color: white;height: 30px;font-size: 18px;border: none;border-radius: 10px;padding:5px;padding-left: 20px;padding-right: 20px;text-align: center;"
          value="Host"></div>
        <div style="position: absolute;top: 10px;left:10px;font-size: 18px;color: #777;">Room :</div>
        <input id="roomInp"
          style="position: absolute;top:4px;left:73px;width: 250px;background: transparent;color: white;height: 30px;font-size: 18px;border: none;text-align: center;"
          value="<%= RoomId %>" />
      </div>
      <button id="joinNow"
        style="background: blue;border: none;margin-top: 20px;height: 40px;width: 180px;font-size: 18px;color: white;border-radius: 10px;">
        Join Now
      </button>
    </div>
  </div>
</body>

</html>